<section>
    <div class="container">
        <div class="row">
            <div class="col-12 ajust-final">
                <ul>
                    <li [routerLink]="['/admin/listusers']">Listado de usuarios</li>
                    <li [routerLink]="['/admin/list/close']">Listado de solicitud cerrado</li>
                    <li [routerLink]="['/admin/list/activ']">Listado de solicitud activos</li>
                    <li [routerLink]="['/admin/list/negado']">Listado de solicitud negados</li>
                </ul>
            </div>
        </div>
    </div>
</section>
