<div class="container">
  <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/minimal-watercolor-youtube-channel-art-banner-design-template-6b4603eb075eea7e65af2ee226d3d317_screen.jpg?ts=1561444958" alt="">
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="tipo(null)">
        Nuevo
      </button>
    </div>
    <div class="col-12">
      <table class="table table-striped" *ngIf="countries" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Dirección</th>
            <th scope="col">Correo</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ country.nombre }}
            </td>
            <td>{{ country.apellidos}}</td>
            <td>{{ country.direccion}}</td>
            <td>{{ country.correo}}</td>
            <td>{{ country.telefono}}</td>
            <td>
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" (click)="tipo(country)">
                Editar
              </button>
              <button type="button" class="btn btn-danger"  (click)="deletefinal(country.id)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¨{{titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="tipomodal == 1"  [formGroup]="Form" (ngSubmit)="registrarForm(Form.value)">
          <div class="form-group">
            <label for="exampleInputPassword1">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control">
            <div class="validation-error" *ngIf="Form.get('nombre').invalid">
              <div *ngFor="let validation of valdation_messages.nombre">
                <div
                  *ngIf="Form.get('nombre').hasError(validation.type) && (Form.get('nombre').dirty) || Form.get('nombre').touched">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Apellidos</label>
            <input type="text" formControlName="apellidos" class="form-control">
            <div class="validation-error" *ngIf="Form.get('apellidos').invalid">
              <div *ngFor="let validation of valdation_messages.apellidos">
                <div
                  *ngIf="Form.get('apellidos').hasError(validation.type) && (Form.get('apellidos').dirty) || Form.get('apellidos').touched">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <input type="email" formControlName="correo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div class="validation-error" *ngIf="Form.get('correo').invalid">
              <div *ngFor="let validation of valdation_messages.correo">
                <div
                  *ngIf="Form.get('correo').hasError(validation.type) && (Form.get('correo').dirty) || Form.get('correo').touched">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Dirección</label>
            <input type="text" formControlName="direccion" class="form-control">
            <div class="validation-error" *ngIf="Form.get('direccion').invalid">
              <div *ngFor="let validation of valdation_messages.direccion">
                <div
                  *ngIf="Form.get('direccion').hasError(validation.type) && (Form.get('direccion').dirty) || Form.get('direccion').touched">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Teléfono</label>
            <input type="text" formControlName="telefono" class="form-control">
            <div class="validation-error" *ngIf="Form.get('telefono').invalid">
              <div *ngFor="let validation of valdation_messages.telefono">
                <div
                  *ngIf="Form.get('telefono').hasError(validation.type) && (Form.get('telefono').dirty) || Form.get('telefono').touched">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <button  type="submit" class="btn btn-primary" [disabled]="Form.invalid" >{{butom}}</button>
        </form>
        <form *ngIf="tipomodal == 2"  [formGroup]="Form" (ngSubmit)="editForm(Form.value, id)">
          <div class="form-group">
            <label for="exampleInputPassword1">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control">
            <div class="validation-error" *ngIf="Form.get('nombre').invalid">
              <div *ngFor="let validation of valdation_messages.nombre">
                <div
                  *ngIf="Form.get('nombre').hasError(validation.type) && (Form.get('nombre').dirty) || Form.get('nombre').touched">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Apellidos</label>
            <input type="text" formControlName="apellidos" class="form-control">
            <div class="validation-error" *ngIf="Form.get('apellidos').invalid">
              <div *ngFor="let validation of valdation_messages.apellidos">
                <div
                  *ngIf="Form.get('apellidos').hasError(validation.type) && (Form.get('apellidos').dirty) || Form.get('apellidos').touched">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <input type="email" formControlName="correo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div class="validation-error" *ngIf="Form.get('correo').invalid">
              <div *ngFor="let validation of valdation_messages.correo">
                <div
                  *ngIf="Form.get('correo').hasError(validation.type) && (Form.get('correo').dirty) || Form.get('correo').touched">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Dirección</label>
            <input type="text" formControlName="direccion" class="form-control">
            <div class="validation-error" *ngIf="Form.get('direccion').invalid">
              <div *ngFor="let validation of valdation_messages.direccion">
                <div
                  *ngIf="Form.get('direccion').hasError(validation.type) && (Form.get('direccion').dirty) || Form.get('direccion').touched">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Teléfono</label>
            <input type="text" formControlName="telefono" class="form-control">
            <div class="validation-error" *ngIf="Form.get('telefono').invalid">
              <div *ngFor="let validation of valdation_messages.telefono">
                <div
                  *ngIf="Form.get('telefono').hasError(validation.type) && (Form.get('telefono').dirty) || Form.get('telefono').touched">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <button  type="submit" class="btn btn-primary" [disabled]="Form.invalid" >{{butom}}</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>